/* =============
    hero
============= */

#hero{
    section{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero .";

        >div{
            grid-area: hero;
        }
    }

}


#sub-hero{

        display: grid;
        grid-template-columns: 100%;
  

        .styles{
            background-color: var(--lightPink);
            h1{
                color: white;
                padding: 8px;
                font-size: medium;
            }
            p{
                color: white;
                padding: 8px;
                font-size: small;
            }

            a{
                width: fit-content;
                padding: 8px;
                color: var(--cream);
                background-color: var(--sage);
                font-size: small;
     
            }
        }


        .new{
            background-color: var(--dustyPink);

            h1{
                color: var(--cream);
                padding: 8px;
                font-size: medium;
            }
            p{
                color: var(--cream);
                padding: 8px;
                font-size: small;
            }

            a{
                width: fit-content;
                padding: 8px;
                color: var(--cream);
                background-color: var(--sage);
                font-size: small;
         
            }
        }

        @include md{
            grid-template-columns: 50% 50%;
            justify-content: center;
        }
    }
    


