/* =============
    hero
============= */

#hero{
    section{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero .";

        >div{
            grid-area: hero;
        }
    }

}


#sub-hero{

        display: flex;
        flex-direction: column;
  

        .styles{
            background-color: var(--lightPink);
            h1{
                color: var(--cream);
                padding: 8px;
                font-size: medium;
            }
            p{
                color: var(--cream);
                padding: 8px;
                font-size: small;
            }

            a{
                width: fit-content;
                padding: 8px;
                color: var(--cream);
                background-color: var(--sage);
                font-size: small;
     
            }
        }


        .new{
            background-color: var(--dustyPink);

            h1{
                color: var(--cream);
                padding: 8px;
                font-size: medium;
            }
            p{
                color: var(--cream);
                padding: 8px;
                font-size: small;
            }

            a{
                width: fit-content;
                padding: 8px;
                color: var(--cream);
                background-color: var(--sage);
                font-size: small;
         
            }
        }

        @include md{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    


