/* =============
    Product cards
============= */

#product-cards{
    background-color: var(--cream);
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". product-cards .";

    >div{
        grid-area: product-cards;
       
        }
     
}
