/* =============
    product cards
============= */

#product-cards{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-area: ". product-cards .";

    >div{
        grid-area: product cards;
    }
}