/* =============
    suggested
============= */

#suggested{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-area: ". suggested .";

    >div{
        grid-area: suggested;
    }
}