/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: var(--forestGreen);

@include xxl{
    grid-template-columns: auto 1200px auto;
}
    >div{

        grid-area: footer;
       form{
        display: flex;
        margin-top: 16px;
        margin-bottom: 16px;
        input{
            background-color: var(--sage);
            width: 100%;
            border-radius: 0px;
            border: none;
            box-sizing: border-box;
            padding: 16px 8px;
        }
        >div{
            text-align: right;
            button{
                border: none;
                background-color: var(--lightPink);
                border-radius: 5px;
                padding: 12px 16px;
                color: white;
                margin-top: 16px;
            }
            .email>form{
                display: flex;
                flex-direction: column;
               }
        }
        
       }

     
        h1{
            color: var(--cream);
            padding: 16px 0px;
        }
        h2{
            color: var(--sage);
            padding: 16px 0px;
        }
        p{
            color: var(--sage);
        } 

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }
}

}
