/* =============
    Footer
============= */
footer{
   
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: var(--forestGreen);

@include xxl{
    grid-template-columns: auto 1200px auto;
}
    >div{

        grid-area: footer;
        h1{
            color: var(--cream);
        }
        h2{
            color: var(--sage);
        }
        p{
            color: var(--sage);
        } 

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }
}

}
