/* =============
    Header
============= */

#header{

    @media xxl{
        display: grid;
        grid-template-columns: auto, 1440, auto;
    }

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-area: ". header .";

    >div{
        grid-area: header;
        background-color: darkolivegreen;
        color: var(white);
        padding: 50px 0;
        text-align: center;
    }
}
