/* =============
    Header
============= */

header{

    @include xxl{
        display: grid;
        grid-template-columns: 1440;
        grid-template-areas: ". header .";
    }

    

    .top{
        
        background-color: darkolivegreen;
        padding: 50px 0;
        text-align: center;

        @include xxl{
            grid-area: header;
        }
    }
    nav{
        grid-area: header;
        background-color: lightpink;
        padding: 50px 0;
        text-align: center;
        text-decoration: underline;

        @include xxl{
            grid-area: header;
        }
    }
}
